doctype html
html(class="no-js", lang="ru")

  include ../components/head/head
  include ../components/about/about
  include ../components/advantages/advantages
  include ../components/contacts/contacts
  include ../components/header/header
  include ../components/partners/partners
  include ../components/projects/projects
  include ../components/services/services
  include ../components/top-baner/top-baner
  include ../components/host-top/host-top
  include ../components/host-advantages/host-advantages
  include ../components/ip-tarif/ip-tarif
  include ../components/footer/footer

  head
    +head(head.defaults)
  body
    .main
      +header
      +top-baner('host')._host
      +host-top
      +host-advantages
      +ip-tarif
      +contacts
      +footer

    //- Main scripts. You can replace it, but I recommend you to leave it here
    script(src="https://yastatic.net/jquery/3.1.1/jquery.min.js")
    script(src='%=static=%js/main%=hash=%%=min=%.js')