mixin cloud-tarif(data)
  .cloud-tarif
    .cloud-tarif__wrapper
      .title._yellow Plans & Pricing

      .cloud-tarif__list
        .cloud-tarif-item
          .cloud-tarif-item__top._tarif1 €99
          .cloud-tarif-item__bottom 100 Gb SSD
          .cloud-tarif-item__bottom 4CPU
          .cloud-tarif-item__bottom 8Gb Ram
          .cloud-tarif-item__bottom 5000 Gb Bandwidht

        .cloud-tarif-item
          .cloud-tarif-item__top._tarif2 €120
          .cloud-tarif-item__bottom 200 Gb SSD
          .cloud-tarif-item__bottom 6CPU
          .cloud-tarif-item__bottom 16Gb Ram
          .cloud-tarif-item__bottom 6000 Gb Bandwidht

        .cloud-tarif-item
          .cloud-tarif-item__top._tarif3 €180
          .cloud-tarif-item__bottom 300 Gb SSD
          .cloud-tarif-item__bottom 8CPU
          .cloud-tarif-item__bottom 32Gb Ram
          .cloud-tarif-item__bottom 7000 Gb Bandwidht

        .cloud-tarif-item
          .cloud-tarif-item__top._tarif4 €380
          .cloud-tarif-item__bottom 500 Gb SSD
          .cloud-tarif-item__bottom 16CPU
          .cloud-tarif-item__bottom 64Gb Ram
          .cloud-tarif-item__bottom 10000 Gb Bandwidht


