.host-about {
  padding: 50px 0;

  background-color: #f9f9f9;
  &__wrapper {
    @extend .wrapper;
  }
  &__list {
    display: flex;

    align-items: center;
    justify-content: space-between;
    @media screen and (max-width: 990px) {
      display: block;
    }
  }
  &__left {
    padding-right: 20px;

    color: #4e4e4e;

    font-size: rem-calc(20);
    line-height: rem-calc(30);
    @media screen and (max-width: 990px) {
      margin-top: 40px;
      padding-right: 0;

      text-align: center;
    }
  }
  &__right {
    @media screen and (max-width: 990px) {
      margin-top: 30px;
      img {
        width: 100%;
      }
    }
  }
}
