mixin host-about(data)
  .host-about
    .host-about__wrapper
      .title._blue About

      .host-about__list
        .host-about__left All-SSD Cloud servers enable you to run applications on the Linux OS of your choice.Whether you require MongoDB, Redis or node.js, ruby, python, DreamCompute has your back. Carefully engineered around OpenStack and Ceph, DreamHost supports standard APIs and the most popular developer tools.

        .host-about__right 
          img(src="%=static=%images/general/soft.jpg" alt="")