mixin footer(data)
  .footer
    .footer__wrapper
      .footer__logo
      .footer__copyright © 2013-2017 WebInvest — интернет-маркетинг, продвижение сайтов. Начните продвигать сайт с нами!
        span SIA WEBINVEST, Reg Nr. 40103581339, PVN Nr. LV40103581339, Rīga, Antonijas iela 9 - 14, LV-1010