.footer {
  padding: 35px 0;

  background: #213052;
  &__wrapper {
    display: flex;

    align-items: center;
    @extend .wrapper;
    justify-content: space-between;
    @media screen and (max-width: 990px) {
      display: block;

      text-align: center;
    }
  }
  &__logo {
    @include bg($logo);
    @media screen and (max-width: 990px) {
      margin: auto;
    }
  }
  &__copyright {
    max-width: 70%;
    padding-top: 10px;

    color: rgba($white, .7);
    @media screen and (max-width: 990px) {
      max-width: 100%;
    }
    span {
      color: rgba($white, .5);
    }
  }
}
