mixin ip-tarif(data)
  .ip-tarif
    .ip-tarif__wrapper
      .title._yellow._no-letter Our special offer for IP Transit at Evoswitch Data centre (The Netherlands).

      .table
        table
          thead
            tr
              th Commitment
              th Port Speed
              th Install
              th Mounthly price
              th Price per Mbps
              th Oversage per Mbps
          tbody
            tr
              td 
                span.bold 50 Mbit/s
              td 
                span.green 1000 Mbit/s
              td 
                span.bold.gray FREE
              td €175.00
              td €3.50
              td €2.25
            tr
              td 
                span.bold 100 Mbit/s
              td 
                span.green 1000 Mbit/s
              td 
                span.bold.gray FREE
              td €345.00
              td €3.45
              td €1.95
            tr
              td 
                span.bold 200 Mbit/s
              td 
                span.green 1000 Mbit/s
              td 
                span.bold.gray FREE
              td €390.00
              td €1.95
              td €1.85
            tr
              td 
                span.bold 500 Mbit/s
              td 
                span.green 1000 Mbit/s
              td 
                span.bold.gray FREE
              td €825.00
              td €1.65
              td €1.65
            tr
              td 
                span.bold 1000 Mbit/s 
              td 
                span.green 1000 Mbit/s
              td 
                span.bold.gray FREE
              td €1450.00
              td €1.45
              td —
            tr
              td 
                span.bold 500 Mbit/s  
              td 
                span.red 10 Gbit/s
              td 
                span.bold.gray FREE
              td €975.00
              td €1.95
              td €1.85
            tr
              td 
                span.bold 1000 Mbit/s
              td 
                span.red 10 Gbit/s
              td 
                span.bold.gray FREE
              td €1650.00
              td €1.65
              td €1.45
            tr
              td 
                span.bold 2000 Mbit/s
              td 
                span.red 10 Gbit/s
              td 
                span.bold.gray FREE
              td €2600.00
              td €1.30
              td €1.20 
                a(href="#" title="") only

      .ip-tarif__bottom To receive an offer for HOSTING.WEBINVEST IP Transit at Evoswitch data centre or any other data centre, please contact with us via email or phone