mixin about(data)
  .about#about
    .about__wrapper
      .about__left
        .about__title коротко о
          span Web Invest
      .about__right
        p Основные принципы деятельности – это профессионализм, ориентированность на интересы клиента, большой опыт сотрудников и компетентность, комплексный подход к решению каждой задачи, применение инновационных технологий, честность, ответственность и открытость. Следование этим принципам делает компанию WebInvest успешной.

        p Мы готовы помочь каждому, кто имеет желание создать свой полноценный, качественный сайт, который станет залогом успешной работы и процветания. Мы создаем быстрые, надежные, информативные интернет-ресурсы с приятным интерфейсом.