.about {
  padding: 95px 0 55px;

  background: url(%=static=%general/about.jpg) no-repeat;
  background-size: cover;
  @media screen and (max-width: 1200px) {
    padding: 50px 0;
  }
  &__wrapper {
    display: flex;

    align-items: flex-start;
    @extend .wrapper;
    justify-content: space-between;
    @media screen and (max-width: 800px) {
      display: block;
    }
  }
  &__left {
    width: 350px;
    padding-top: 30px;
    @media screen and (max-width: 800px) {
      width: 100%;
    }
  }
  &__right {
    width: 810px;

    color: $white;

    font-size: rem-calc(19);
    line-height: rem-calc(35);
    @media screen and (max-width: 1200px) {
      width: 600px;
    }
    @media screen and (max-width: 800px) {
      width: 100%;
    }
    p {
      margin: 0;
      margin-bottom: 20px;
    }
  }
  &__title {
    position: relative;

    letter-spacing: 300 / 1000 * 1em;
    text-transform: uppercase;

    color: $white;

    font-family: "Lato-Black";
    font-size: rem-calc(18);
    @media screen and (max-width: 800px) {
      margin-bottom: 20px;
    }
    &:after {
      position: absolute;
      right: 0;
      bottom: -6px;

      display: block;

      width: 111px;
      height: 111px;

      content: "";

      background: url(%=static=%general/rect-small.png) no-repeat;
    }
    span {
      display: block;

      letter-spacing: normal;
      text-transform: none;

      font-size: rem-calc(65);
      line-height: 1;
      @media screen and (max-width: 800px) {
        font-size: rem-calc(50);
      }
    }
  }
}
