mixin advantages(data)
  .advantages#advantages
    .advantages__wrapper
      .advantages__top
        .title._yellow Почему мы?
        .advantages__description У нас есть возможность организовать эффективную рекламу, направленную на женскую аудиторию; на специалистов в области мобильной связи и технически продвинутую молодежь; потребителей информации новостных ресурсов.

      .advantages__list
        .advantages-block
          .advantages-block__title
            span Охват аудитории

          .advantages-block-row
            .advantages-block-row__img._comp
            .advantages-block-row__content
              strong 1 000 000 000
              span просмотров объявлений <br>рекламодателей в сутки

          .advantages-block-row
            .advantages-block-row__img._users
            .advantages-block-row__content
              strong 200 000 000
              span человек — ежемесячный охват сети

          .advantages-block-row
            .advantages-block-row__img._click
            .advantages-block-row__content
              strong 50 000 000
              span переходов по объявлениям <br>ежемесячно

        .advantages-block
          .advantages-block__title
            span Ядро аудитории

          .advantages-block__graphic
            img(src="%=static=%images/general/graphic.png" alt="")

        .advantages-block
          .advantages-block__title
            span Интересы

          .advantages-block__graphic
            img(src="%=static=%images/general/interest.png" alt="")