mixin header(data)
  .header
    .header__wrapper
      .header__logo
      .header-menu
        .header-menu__mobile
        .header-menu__list
          a(href="#services" title="").header-menu__item Услуги
          a(href="#advantages" title="").header-menu__item Преимущества
          a(href="#projects" title="").header-menu__item Наши проекты
          a(href="host.html" title="").header-menu__item Хостинг
          a(href="#about" title="").header-menu__item О компании
          a(href="#partners" title="").header-menu__item Партнеры
          a(href="#contacts" title="").header-menu__item Контакты