mixin projects(data)
  .projects#projects
    .projects__top
      .title._blue Наши проекты

    .projects__list
      .projects__wrapper
        .projects-block
          .projects-block__title hairproblem.ru
          .projects-block__content
            .projects-block__caption Подготовка к свадьбе – это тяжелое испытание для жениха с невестой, ведь нужно учесть тысячи мелочей!

            .projects-block-meta
              .projects-block-meta__row посещений  в сутки
                span 450 000

              .projects-block-meta__row профит
                span 9 999

              .projects-block-meta__row аудитория
                span 20 - 25 лет
          .projects-block__image
            img(src="%=static=%images/general/hairproblem.png" alt="")

        .projects-block
          .projects-block__title Sovets24.ru
          .projects-block__content
            .projects-block__caption Подготовка к свадьбе – это тяжелое испытание для жениха с невестой, ведь нужно учесть тысячи мелочей!

            .projects-block-meta
              .projects-block-meta__row посещений  в сутки
                span 450 000

              .projects-block-meta__row профит
                span 9 999

              .projects-block-meta__row аудитория
                span 20 - 25 лет
          .projects-block__image
            img(src="%=static=%images/general/sovets24.png" alt="")


        .projects-block
          .projects-block__title MosMama.ru
          .projects-block__content
            .projects-block__caption Подготовка к свадьбе – это тяжелое испытание для жениха с невестой, ведь нужно учесть тысячи мелочей!

            .projects-block-meta
              .projects-block-meta__row посещений  в сутки
                span 450 000

              .projects-block-meta__row профит
                span 9 999

              .projects-block-meta__row аудитория
                span 20 - 25 лет
          .projects-block__image
            img(src="%=static=%images/general/mosmama.png" alt="")

        .projects-block
          .projects-block__title lecheniezubov.su
          .projects-block__content
            .projects-block__caption Подготовка к свадьбе – это тяжелое испытание для жениха с невестой, ведь нужно учесть тысячи мелочей!

            .projects-block-meta
              .projects-block-meta__row посещений  в сутки
                span 450 000

              .projects-block-meta__row профит
                span 9 999

              .projects-block-meta__row аудитория
                span 20 - 25 лет
          .projects-block__image
            img(src="%=static=%images/general/lecheniezubov.png" alt="")



