.projects {
  &__top {
    padding: 35px 0;

    @extend .wrapper;
    @media screen and (max-width: 1200px) {
      padding: 35px 15px;
    }
  }
  &__wrapper {
    display: flex;

    align-items: stretch;
    @extend .wrapper;
    flex-wrap: wrap;
    justify-content: center;
    @media screen and (max-width: 790px) {
      display: block;
    }
  }
  &__list {
    padding-top: 40px;

    background-color: #f7f9fb;
  }
}

.projects-block {
  position: relative;

  box-sizing: border-box;
  width: 590px;
  min-height: 360px;
  margin-bottom: 40px;
  padding: 40px 0 40px 30px;

  background: $white url(%=static=%general/lines.png) repeat-x top;
  box-shadow: 0 0 6px rgba($black, .1);
  @media screen and (max-width: 1200px) {
    width: 47%;
  }
  @media screen and (max-width: 790px) {
    width: 100%;
    min-height: auto;
    padding: 40px;
  }
  &:nth-child(odd) {
    margin-right: 30px;
    @media screen and (max-width: 990px) {
      margin-right: 10px;
    }
    @media screen and (max-width: 790px) {
      margin-right: 0;
    }
  }
  &__title {
    margin-bottom: 10px;

    text-align: center;
    text-transform: uppercase;

    color: $light-blue;

    font-family: "Lato-Black";
    font-size: rem-calc(34);
    @media screen and (max-width: 790px) {
      font-size: rem-calc(20);
    }
  }
  &__content {
    width: 260px;
    @media screen and (max-width: 790px) {
      position: relative;
      z-index: 2;

      width: 100%;

      text-align: center;
    }
  }
  &__image {
    position: absolute;
    right: 0;
    bottom: 0;
    @media screen and (max-width: 1200px) {
      width: 50%;
    }
    @media screen and (max-width: 990px) {
      z-index: 1;
    }
    img {
      float: right;

      width: 95%;
      @media screen and (max-width: 990px) {
        opacity: .1;
      }
    }
  }
  &__caption {
    color: rgba(#2a2a2a, .7);

    font-family: "Lato-Italic";
    font-size: rem-calc(14);
    line-height: rem-calc(19);
    @media screen and (max-width: 790px) {
      text-align: center;
    }
  }
}

.projects-block-meta {
  &__row {
    margin-top: 15px;

    text-transform: uppercase;

    color: $light-blue;

    font-size: rem-calc(14);
    span {
      display: block;

      text-transform: none;

      color: #2a2a2a;

      font-family: "Lato-Black";
      font-size: rem-calc(22);
    }
  }
}
