mixin host-advantages(data)
  .host-advantages
    .host-advantages__wrapper
      .title._blue._no-letter Advantages of HOSTING.WEBINVEST:

      .host-advantages-list
        .host-advantages-list__column
          .host-advantages-list__item Our current network capacity is over 50Gbit per month and is constantly growing, enabling us to transfer our bulk-buying saving power onto our clients who enjoy unbeatable prices.

          .host-advantages-list__item We use an array of premium Tier-1 providers such as Level3, AboveNet, TeliaSonera and more.

          .host-advantages-list__item Thanks to our large number of peering agreements with European ISPs on the Amsterdam Exchange (AMS-IX) we are able to provide our clients with the fastest route possible across European and worldwide networks at very competitive prices.

        .host-advantages-list__column
          .host-advantages-list__item Our multi-homed BGP4 network (operated under AS47143) runs on cutting edge Cisco equipment and has been engineered 'from the ground up' to deliver lowest possible route latencies, resulting in incredibly fast data delivery performance.

          .host-advantages-list__item Flexible billing options for flat rate and burstable.


