mixin services(data)
  .services#services
    .services__wrapper
      .title._blue Что мы предлагаем?

      .services__list
        .services-block
          .services-block-top
            .services-block-top__img
              img(src="%=static=%images/general/adv.png" alt="")
            .services-block-top__title Размещение <br>рекламы <br>на наших<br> сайтах

          .services-block__text На всех наших проектах мы предлагаем следующие виды рекламного взаимодействия: банерную рекламу любых форматов; размещение текстовых и комбинированных блоков; рекламу в специализированных рассылках; публикацию и рекламу пресс-релизов Вашей компании; 

        .services-block
          .services-block-top
            .services-block-top__img
              img(src="%=static=%images/general/web.png" alt="")
            .services-block-top__title Создание и <br>поддержка <br>сайтов <br>под ключ

          .services-block__text Мы предлагаем быстрые и функциональные решения для бизнеса. Наши сайты работают на модульной платформе, что позволяет расширять и улучшать сайт без ограничений. Сайты созданные нами имеют высокую производительность и способны выдерживать большие нагрузки.

