.services {
  padding: 50px 0;
  
  &__wrapper {
    @extend .wrapper;
  }
  &__list {
    display: flex;

    padding-top: 35px;

    align-items: stretch;
    justify-content: flex-start;
    @media screen and (max-width: 990px) {
      display: block;
    }
  }
}

.services-block {
  width: 500px;
  @media screen and (max-width: 990px) {
    width: 100%;
  }
  &:first-child {
    margin-right: 115px;
    @media screen and (max-width: 990px) {
      margin-right: 0;
      margin-bottom: 50px;
    }
  }
  &__text {
    padding-top: 35px;

    color: $dark-blue;

    font-size: rem-calc(16);
    line-height: rem-calc(22);
    @media screen and (max-width: 990px) {
      padding-top: 15px;

      text-align: center;
    }
  }
}

.services-block-top {
  display: flex;

  align-items: center;
  justify-content: flex-start;
  @media screen and (max-width: 990px) {
    display: block;
  }
  &__img {
    width: 205px;
    @media screen and (max-width: 990px) {
      width: 90%;
      margin: auto;

      text-align: center;
    }
  }
  &__title {
    padding-left: 45px;

    color: $light-blue;

    font-family: "Lato-Bold";
    font-size: rem-calc(32);
    line-height: rem-calc(34);
    @media screen and (max-width: 990px) {
      margin-top: 15px;
      padding-left: 0;

      text-align: center;
      br {
        display: none;
      }
    }
  }
}
