mixin contacts(data)
  .contacts#contacts
    .contacts__wrapper
      .contacts__left
        .contacts__title Как с нами
          span связаться?
        .contacts__subtitle С удовольствием ответим на все <br>ваши вопросы:

        .contacts__row._phone Позвоните: 
          span +371 24 24 5555

        .contacts__row._mail Напишите:
          span info@webinvest.lv

        .contacts__row._address Приходите:
          span Riga, Antonias 9, LV1010

      .contacts__right
        img(src="%=static=%images/general/map.jpg" alt="")