.top-baner {
  position: relative;

  min-height: 700px;

  background: url(%=static=%general/top-baner.jpg) no-repeat;
  background-size: cover;
  @media screen and (max-width: 800px) {
    min-height: 550px;
  }
  &:after {
    bottom: 40px;

    content: "";

    @include horizontal-center;
    @include bg($mouse);
  }
  &__wrapper {
    @include absolute-center;
    @media screen and (max-width: 800px) {
      width: 90%;
    }
  }
  &__title {
    min-width: 800px;

    text-transform: uppercase;

    color: $white;

    font-family: "Lato-Black";
    font-size: rem-calc(63);
    line-height: 1;
    @media screen and (max-width: 800px) {
      width: 100%;
      min-width: auto;

      text-align: center;

      font-size: rem-calc(30);
      line-height: rem-calc(38);
      br {
        display: none;
      }
    }
    &:before {
      position: absolute;
      top: -42px;
      left: -48px;

      width: 283px;
      height: 283px;

      content: "";

      background: url(%=static=%general/rect.png) no-repeat;
      @media screen and (max-width: 800px) {
        display: none;
      }
    }
  }
  &__caption {
    position: absolute;
    right: 0;
    bottom: 4px;

    color: $white;

    font-size: rem-calc(14);
    line-height: rem-calc(19);
    @media screen and (max-width: 800px) {
      position: relative;

      margin-top: 15px;

      text-align: center;

      line-height: rem-calc(22);
      br {
        display: none;
      }
    }
  }
}
