mixin top-baner(data)
  .top-baner
    .top-baner__wrapper
      .top-baner__title эффективая реклама <br>на наших интернет <br>проектах
      .top-baner__caption Реклама на наших сайтах позволит вам сделать мощный рывок в <br>своей деловой сфере. Десятки тысяч посетителей наших порталов <br>увидят вашу рекламу, а многие станут вашими клиентами.