.partners {
  padding: 25px 0;
  &__wrapper {
    display: flex;

    align-items: center;
    @extend .wrapper;
    justify-content: space-between;
    @media screen and (max-width: 800px) {
      display: block;
    }
  }
  &__image {
    img {
      margin-left: 46px;
      @media screen and (max-width: 800px) {
        width: 100%;
        margin-left: 0;
      }
    }
  }
}
