mixin partners(data)
  .partners#partners
    .partners__wrapper
      .title._blue Наши партнеры
      .partners__image
        img(src="%=static=%images/general/adsense.jpg" alt="")
        img(src="%=static=%images/general/direct.jpg" alt="")